backend/.env.test
backend/.env.development
backend/node_modules
frontend/.env
backend/package-lock.json
frontend/package-lock.json
backend/.env

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# deploy
app.yaml
.gcloudignore