* { 
	box-sizing: border-box;
}

@font-face {
  font-family: 'Wild World';
  src: url('../public/wild_world-webfont.woff2') format('woff2'),
       url('../public/wild_world-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LCD Bold';
  src: 
url('../public/LCDBOLD.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html, body {
	min-height: 100%;
	background: #fff;
	color: #000;
}

h1,h2,h3,h4 {
  font-family: 'Wild World', Arial, sans-serif !important;
}


	
body, ul, ol, dl {
	margin: 0;
}

.marker {
	position: absolute;
	left: -1.4em;
	bottom: -1em;
}